.project_row {
  display: grid;
  display: flex;
  flex-direction: column;
  gap: 16px; /* smaller gap for mobile */
  padding: 16px;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

/* Medium devices (Tablets) */
@media (min-width: 600px) {
  .project_row {
    display: flex;
    flex-direction: column;
    gap: 24px; /* slightly larger gap */
  }
}

/* Large devices (Desktops) */
@media (min-width: 1024px) {
  .project_row {
    display: flex;
    flex-direction: column;
    gap: 32px; /* larger gap for large screens */
  }
}
