# GitHub configuration
GITHUB_TOKEN=your_github_personal_access_token
OWNER=repository_owner
REPO=repository_name
BRANCH=branch_name

# The following env variables should be gotten from https://console.cloud.google.com
# GOOGLE API and Services: 
GOOGLE_ZCG_SERVICE_ACCOUNT_CLIENT_EMAIL=
GOOGLE_ZCG_SERVICE_ACCOUNT_CLIENT_PRIVATE_KEY=
GOOGLE_ZCG_SPREADSHEET_SCOPE=https://www.googleapis.com/auth/spreadsheets.readonly


# GOOGLE SHEET: https://docs.google.com/spreadsheets/d/GOOGLE_ZCG_SPREADSHEET_ID_HERE
GOOGLE_ZCG_SPREADSHEET_ID=
GOOGLE_ZCG_SHEET_RANGE=ZCG Grants

NEXT_PUBLIC_TREASURY_SPREADSHEET_ID=19Z...

# AI env
OPENAI_API_KEY=

# Supabase project URL and keys
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=


# Payment Request URI Widget
NEXT_PUBLIC_WIDGET_API_BASE_URL=http://localhost:3000/api
NEXT_PUBLIC_API_BASE_URL_EMBED_CODE=http://localhost:3000/zcash-payment-request-widget.embed.v2.js
BASE_URL_ZCASH_PRICE_FEED=https://api.diadata.org/v1/assetQuotation/Zcash/0x0000000000000000000000000000000000000000
ACCESS_CONTROL_ALLOW_ORIGIN=http://127.0.0.1:5502
