.sitemap_container {
  display: block;
}

.sitemap_container ul {
  list-style: square;
  margin: 20px 0;
  padding: revert;
}

.sitemap_container li {
  margin-bottom: 10px;
}

.sitemap_container h2 {
  font-family: "Inter", Sans-serif;
  font-size: 2.5625rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.25em;
  margin: 40px 0 16px;
}

.sitemap_container a {
  text-decoration: underline;
  font-weight: 500;
  font-size: 18px;
}

.elementor_sitemap_wrap {
  display: flex;
  flex-flow: row wrap;
}

.elementor_sitemap_section {
  width: 100%;
  max-width: 400px;
  padding: 0px;
}

.elementor_sitemap_title {
  margin-top: 40px;
}

/* Medium devices (Tablets) */
@media (min-width: 600px) {
  .sitemap_container {
    display: block;
  }

  .sitemap_container ul {
    list-style: square;
    margin: 20px 0;
    padding: revert;
  }

  .sitemap_container li {
    margin-bottom: 10px;
  }

  .sitemap_container h2 {
    font-family: "Inter", Sans-serif;
    font-size: 2.5625rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.25em;
    margin: 40px 0 16px;
  }

  .sitemap_container a {
    text-decoration: underline;
    font-weight: 500;
    font-size: 18px;
  }

  .elementor_sitemap_wrap {
    display: flex;
    flex-flow: row wrap;
  }

  .elementor_sitemap_section {
    min-width: 360px;
    max-width: 360px;
    padding: 0px;
  }

  .elementor_sitemap_title {
    margin-top: 40px;
  }
}

/* Large devices (Desktops) */
@media (min-width: 1024px) {
  .project_row {
    display: flex;
    flex-direction: column;
    gap: 32px; /* larger gap for large screens */
  }

  .sitemap_container {
    display: block;
  }

  .sitemap_container ul {
    list-style: square;
    margin: 20px 0;
    padding: revert;
  }

  .sitemap_container li {
    margin-bottom: 10px;
  }

  .sitemap_container h2 {
    font-family: "Inter", Sans-serif;
    font-size: 2.5625rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.25em;
    margin: 40px 0 16px;
  }

  .sitemap_container a {
    text-decoration: underline;
    font-weight: 500;
    font-size: 18px;
  }

  .elementor_sitemap_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .elementor_sitemap_section {
    min-width: 400px;
    max-width: 400px;
    padding: 0 40px;
  }

  .elementor_sitemap_title {
    margin-top: 40px;
  }
}
