.project_grid {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
  /* justify-content: center; */
}
