@import "nprogress/nprogress.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

 
.btn-brand {
  @apply text-white border-brand bg-brand hover:bg-brand-hover hover:text-white py-2 px-4;
}
  
#nprogress .bar {
  /* background: #f88185 !important; */
  background: rgb(250 202 21 / var(--tw-bg-opacity)) !important;
  height: 1px !important;
}


html {
  scroll-behavior: smooth;
}

body[data-scroll-locked] {
  padding: 0 1.5rem !important;
}

body {
  background: #fff9f9;
}

.wallet-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
}

.wallet-tag-item {
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
  border-radius: 0.3rem;
  font-size: 80%;
}

.podcast-list li {
  padding-left: 15px;
}

.podcast-list li a {
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
  align-content: center;
  align-items: center;
  --tw-text-opacity: 1;
  color: rgb(26 86 219 / var(--tw-text-opacity));
}

.shielded-pools img {
  max-width: 40%;
  float: left;
  margin: 7px 30px 7px 0;
}

.shielded-pools img::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 767px) {
  .shielded-pools img {
    max-width: 100%;
    float: none;
    margin: 0 auto;
  }
}

.mobile-trigger {
  margin: 0 !important;
}

@media (min-width: 300px) {
  .container {
    max-width: none;
  }
}

/* Desktop View (for screens larger than 968px) */
@media (min-width: 968px) {
  .dao-main-container {
    margin: 0 4rem;
  }
}

@media (min-width: 1400px) {
  .text-max-width {
    max-width: 250px;
  }

  .card-height {
    min-height: 505.41px;
  }

  .dao-main-container {
    margin: 0 8rem;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1504px;
  }
}

.border-b-1 {
  border-bottom-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
}

.dark .border-b-1 {
  border-color: rgba(255, 255, 255, 0.1);
}

.path {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: dash 4s linear infinite;
}

.jen-fix-overflow {
  overflow: hidden;
  width: 85vw;
}

.sine {
  animation: moveRight 4s ease infinite;
  z-index: 0;
  height: 0.45rem;
  width: 4rem;
}

@keyframes moveRight {

  0%,
  100% {
    transform: translateX(-300%);
    height: 0.75rem;
    width: 4rem;
  }

  25% {
    transform: translateX(0%);
    height: 2rem;
    width: 2rem;
  }

  50% {
    transform: translateX(300%);
    height: 0.75rem;
    width: 4rem;
  }

  75% {
    transform: translateX(0%);
    height: 2rem;
    width: 2rem;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.card-container {
  perspective: 1000px;
  width: 100%;
  max-width: 300px;
  margin: 16px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.card-flipped {
  transform: rotateY(180deg);
}

.card,
.card-back {
  width: 100%;
  height: 100%;
}

.card-back {
  transform: rotateY(180deg);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: max-content;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  justify-items: center;
}

.wallet-header {
  width: 100%;
  grid-column: 1 / -1;
}

.wallet-item .text-justify {
  text-align: left;
}

.wallet-item img {
  margin: auto;
}

/* New additions */

.jen-justify-content {
  justify-content: space-around;
}

.jen-fix-padding {
  padding: 0;
  position: relative;
  top: 0;
}

.jen-restore-overflow {
  overflow: scroll;
}

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}


.list-outside li , pre {
  width: 150px;
}

code {
  display: block;
}